[submodule "dependencies/stb"]
	path = dependencies/stb
	url = https://github.com/nothings/stb
[submodule "dependencies/glm"]
	path = dependencies/glm
	url = https://github.com/g-truc/glm
[submodule "dependencies/cereal"]
	path = dependencies/cereal
	url = https://github.com/USCiLab/cereal
[submodule "dependencies/imgui"]
	path = dependencies/imgui
	url = https://github.com/ocornut/imgui
[submodule "dependencies/entt"]
	path = dependencies/entt
	url = https://github.com/nicovanbentum/entt
[submodule "dependencies/ImGuizmo"]
	path = dependencies/ImGuizmo
	url = https://github.com/nicovanbentum/ImGuizmo/
[submodule "dependencies/VulkanMemoryAllocator"]
	path = dependencies/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "dependencies/IconFontCppHeaders"]
	path = dependencies/IconFontCppHeaders
	url = https://github.com/juliettef/IconFontCppHeaders
[submodule "dependencies/SPIRV-Reflect"]
	path = dependencies/SPIRV-Reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect
[submodule "dependencies/vcpkg"]
	path = dependencies/vcpkg
	url = https://github.com/microsoft/vcpkg
[submodule "dependencies/imnodes"]
	path = dependencies/imnodes
	url = https://github.com/Nelarius/imnodes
[submodule "dependencies/JoltPhysics"]
	path = dependencies/JoltPhysics
	url = https://github.com/jrouwe/JoltPhysics
[submodule "dependencies/D3D12MemoryAllocator"]
	path = dependencies/D3D12MemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/D3D12MemoryAllocator
