[submodule "dependencies/stb"]
	path = dependencies/stb
	url = https://github.com/nothings/stb
[submodule "dependencies/glm"]
	path = dependencies/glm
	url = https://github.com/g-truc/glm
[submodule "dependencies/cereal"]
	path = dependencies/cereal
	url = https://github.com/USCiLab/cereal
[submodule "dependencies/imgui"]
	path = dependencies/imgui
	url = https://github.com/ocornut/imgui
[submodule "dependencies/ImGuizmo"]
	path = dependencies/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
[submodule "dependencies/ChaiScript"]
	path = dependencies/ChaiScript
	url = https://github.com/ChaiScript/ChaiScript/
