.vs/Tine/v15/.suo
*.ark
*.ark_server
*.ark_ignore
*.db
*.o
*.exe
*.spv
*.sln
*.pdb
*.wpix
*.log
*.user
*.cmake
*.vcxproj
*.vcxproj.filters
test.*
CmakeCache.txt
Raekor.dir/
build/
CMakeFiles/
/vcpkg_installed
Debug/
Release/
RelWithDebInfo/
.vs/
.vscode/
x64/Linux/GE
x64/
.clang-format
/screenshots
fake.hlsl
cached/
!assets/
assets/*
!assets/system/
