.vs/Tine/v15/.suo
*.db
*.o
*.exe
*.spv
*.sln
*.log
*.user
*.cmake
*.vcxproj
*.vcxproj.filters
CmakeCache.txt
Raekor.dir/
build/
CMakeFiles/
/vcpkg_installed
Debug/
Release/
RelWithDebInfo/
.vs/
.vscode/
x64/Linux/GE
x64/
.clang-format
/screenshots
fake.hlsl
!assets/
assets/*
!assets/system/
