.vs/Tine/v15/.suo
*.ark
*.ark_server
*.ark_ignore
*.db
*.o
*.exe
*.spv
*.sln
*.pdb
*.wpix
*.log
*.user
*.cmake
*.vcxproj
*.vcxproj.filters
test.*
CmakeCache.txt
Raekor.dir/
Build/
CMakeFiles/
/vcpkg_installed
Debug/
Release/
RelWithDebInfo/
.vs/
.vscode/
.clang-format
Cached/
Images
!Images/Editor.png
!Images/Thumbnail.png
Assets/Models
Assets/EnvMaps
!Assets/Models/DancingStormtrooper
!Assets/Models/Homer
!Assets/Models/MinecraftBlock
!Assets/Models/Pica
!Assets/Models/Sponza
!Assets/Models/TestCube
